@mixin common_parts {
	.h1--plane {
		color: #292929;
		font-size: 19px; /* フォント置換による類似 */
		line-height: (54 / 38); /* フォント置換による類似 */
		text-align: center;
		background: none;
	}
	.form__sep {
		background: url(../images/icon_sep--reserve.png) no-repeat left top;
		width: 24px;
		height: 12px;
		background-size: 24px 12px;
		margin:19px auto;
	}
}
