@charset "UTF-8";
@mixin reset {

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		font-size: 100%;
		vertical-align: baseline;
	}

	html {
		line-height: 1;
	}

	ol, ul, li {
		list-style: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	caption, th, td {
		text-align: left;
		font-weight: normal;
		vertical-align: middle;
	}

	q, blockquote {
		quotes: none;
	}

	q {
		&:before, &:after {
			content: "";
			content: none;
		}
	}

	blockquote {
		&:before, &:after {
			content: "";
			content: none;
		}
	}

	a img {
		border: none;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
		display: block;
	}

	* {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		&:before, &:after {
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
	}

	html {
		font-size: 62.5%;
		height: 100%;
	}

	body {
		font-size: 14px;
		font-size: 1.4rem;
		line-height: 1;
		background-color: #F0F0F0;
		color: #333;
		font-family: Helvetica , Arial , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" ,"メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
		-webkit-text-size-adjust: 100%;
		-webkit-font-smoothing: antialiased;
	}

	strong {
		font-weight: bold;
	}

	label {
		cursor: pointer;
	}

	input, select, textarea, label {
		outline: none;
	}

	a {
		outline: none;
		color: #333;
		text-decoration: underline;
		outline: none;
		cursor: pointer;
		&:hover {
			text-decoration: none;
		}
	}

	button {
		outline: none;
		cursor: pointer;
	}

	sup, sub {
		height: 0;
		line-height: 1;
		vertical-align: baseline;
		position: relative;
		font-size: 82%;
	}

	sup {
		bottom: .75ex;
	}

	sub {
		top: .5ex;
	}

	* {
		-webkit-appearance: none;
	}
}