@charset "UTF-8";
@mixin module {

	.mT0 {
		margin-top: 0px !important;
	}

	.mR0 {
		margin-right: 0px !important;
	}

	.mB0 {
		margin-bottom: 0px !important;
	}

	.mL0 {
		margin-left: 0px !important;
	}

	.pT0 {
		padding-top: 0px !important;
	}

	.pR0 {
		padding-right: 0px !important;
	}

	.pB0 {
		padding-bottom: 0px !important;
	}

	.pL0 {
		padding-left: 0px !important;
	}

	.mT5 {
		margin-top: 5px !important;
	}

	.mR5 {
		margin-right: 5px !important;
	}

	.mB5 {
		margin-bottom: 5px !important;
	}

	.mL5 {
		margin-left: 5px !important;
	}

	.pT5 {
		padding-top: 5px !important;
	}

	.pR5 {
		padding-right: 5px !important;
	}

	.pB5 {
		padding-bottom: 5px !important;
	}

	.pL5 {
		padding-left: 5px !important;
	}

	.mT10 {
		margin-top: 10px !important;
	}

	.mR10 {
		margin-right: 10px !important;
	}

	.mB10 {
		margin-bottom: 10px !important;
	}

	.mL10 {
		margin-left: 10px !important;
	}

	.pT10 {
		padding-top: 10px !important;
	}

	.pR10 {
		padding-right: 10px !important;
	}

	.pB10 {
		padding-bottom: 10px !important;
	}

	.pL10 {
		padding-left: 10px !important;
	}

	.mT15 {
		margin-top: 15px !important;
	}

	.mR15 {
		margin-right: 15px !important;
	}

	.mB15 {
		margin-bottom: 15px !important;
	}

	.mL15 {
		margin-left: 15px !important;
	}

	.pT15 {
		padding-top: 15px !important;
	}

	.pR15 {
		padding-right: 15px !important;
	}

	.pB15 {
		padding-bottom: 15px !important;
	}

	.pL15 {
		padding-left: 15px !important;
	}

	.mT20 {
		margin-top: 20px !important;
	}

	.mR20 {
		margin-right: 20px !important;
	}

	.mB20 {
		margin-bottom: 20px !important;
	}

	.mL20 {
		margin-left: 20px !important;
	}

	.pT20 {
		padding-top: 20px !important;
	}

	.pR20 {
		padding-right: 20px !important;
	}

	.pB20 {
		padding-bottom: 20px !important;
	}

	.pL20 {
		padding-left: 20px !important;
	}

	.mT25 {
		margin-top: 25px !important;
	}

	.mR25 {
		margin-right: 25px !important;
	}

	.mB25 {
		margin-bottom: 25px !important;
	}

	.mL25 {
		margin-left: 25px !important;
	}

	.pT25 {
		padding-top: 25px !important;
	}

	.pR25 {
		padding-right: 25px !important;
	}

	.pB25 {
		padding-bottom: 25px !important;
	}

	.pL25 {
		padding-left: 25px !important;
	}

	.mT30 {
		margin-top: 30px !important;
	}

	.mR30 {
		margin-right: 30px !important;
	}

	.mB30 {
		margin-bottom: 30px !important;
	}

	.mL30 {
		margin-left: 30px !important;
	}

	.pT30 {
		padding-top: 30px !important;
	}

	.pR30 {
		padding-right: 30px !important;
	}

	.pB30 {
		padding-bottom: 30px !important;
	}

	.pL30 {
		padding-left: 30px !important;
	}

	.mT35 {
		margin-top: 35px !important;
	}

	.mR35 {
		margin-right: 35px !important;
	}

	.mB35 {
		margin-bottom: 35px !important;
	}

	.mL35 {
		margin-left: 35px !important;
	}

	.pT35 {
		padding-top: 35px !important;
	}

	.pR35 {
		padding-right: 35px !important;
	}

	.pB35 {
		padding-bottom: 35px !important;
	}

	.pL35 {
		padding-left: 35px !important;
	}

	.mT40 {
		margin-top: 40px !important;
	}

	.mR40 {
		margin-right: 40px !important;
	}

	.mB40 {
		margin-bottom: 40px !important;
	}

	.mL40 {
		margin-left: 40px !important;
	}

	.pT40 {
		padding-top: 40px !important;
	}

	.pR40 {
		padding-right: 40px !important;
	}

	.pB40 {
		padding-bottom: 40px !important;
	}

	.pL40 {
		padding-left: 40px !important;
	}

	.mT45 {
		margin-top: 45px !important;
	}

	.mR45 {
		margin-right: 45px !important;
	}

	.mB45 {
		margin-bottom: 45px !important;
	}

	.mL45 {
		margin-left: 45px !important;
	}

	.pT45 {
		padding-top: 45px !important;
	}

	.pR45 {
		padding-right: 45px !important;
	}

	.pB45 {
		padding-bottom: 45px !important;
	}

	.pL45 {
		padding-left: 45px !important;
	}

	.mT50 {
		margin-top: 50px !important;
	}

	.mR50 {
		margin-right: 50px !important;
	}

	.mB50 {
		margin-bottom: 50px !important;
	}

	.mL50 {
		margin-left: 50px !important;
	}

	.pT50 {
		padding-top: 50px !important;
	}

	.pR50 {
		padding-right: 50px !important;
	}

	.pB50 {
		padding-bottom: 50px !important;
	}

	.pL50 {
		padding-left: 50px !important;
	}

	.mT55 {
		margin-top: 55px !important;
	}

	.mR55 {
		margin-right: 55px !important;
	}

	.mB55 {
		margin-bottom: 55px !important;
	}

	.mL55 {
		margin-left: 55px !important;
	}

	.pT55 {
		padding-top: 55px !important;
	}

	.pR55 {
		padding-right: 55px !important;
	}

	.pB55 {
		padding-bottom: 55px !important;
	}

	.pL55 {
		padding-left: 55px !important;
	}

	.mT60 {
		margin-top: 60px !important;
	}

	.mR60 {
		margin-right: 60px !important;
	}

	.mB60 {
		margin-bottom: 60px !important;
	}

	.mL60 {
		margin-left: 60px !important;
	}

	.pT60 {
		padding-top: 60px !important;
	}

	.pR60 {
		padding-right: 60px !important;
	}

	.pB60 {
		padding-bottom: 60px !important;
	}

	.pL60 {
		padding-left: 60px !important;
	}

	.mT65 {
		margin-top: 65px !important;
	}

	.mR65 {
		margin-right: 65px !important;
	}

	.mB65 {
		margin-bottom: 65px !important;
	}

	.mL65 {
		margin-left: 65px !important;
	}

	.pT65 {
		padding-top: 65px !important;
	}

	.pR65 {
		padding-right: 65px !important;
	}

	.pB65 {
		padding-bottom: 65px !important;
	}

	.pL65 {
		padding-left: 65px !important;
	}

	.mT70 {
		margin-top: 70px !important;
	}

	.mR70 {
		margin-right: 70px !important;
	}

	.mB70 {
		margin-bottom: 70px !important;
	}

	.mL70 {
		margin-left: 70px !important;
	}

	.pT70 {
		padding-top: 70px !important;
	}

	.pR70 {
		padding-right: 70px !important;
	}

	.pB70 {
		padding-bottom: 70px !important;
	}

	.pL70 {
		padding-left: 70px !important;
	}

	.mT75 {
		margin-top: 75px !important;
	}

	.mR75 {
		margin-right: 75px !important;
	}

	.mB75 {
		margin-bottom: 75px !important;
	}

	.mL75 {
		margin-left: 75px !important;
	}

	.pT75 {
		padding-top: 75px !important;
	}

	.pR75 {
		padding-right: 75px !important;
	}

	.pB75 {
		padding-bottom: 75px !important;
	}

	.pL75 {
		padding-left: 75px !important;
	}

	.mT80 {
		margin-top: 80px !important;
	}

	.mR80 {
		margin-right: 80px !important;
	}

	.mB80 {
		margin-bottom: 80px !important;
	}

	.mL80 {
		margin-left: 80px !important;
	}

	.pT80 {
		padding-top: 80px !important;
	}

	.pR80 {
		padding-right: 80px !important;
	}

	.pB80 {
		padding-bottom: 80px !important;
	}

	.pL80 {
		padding-left: 80px !important;
	}

	.mT85 {
		margin-top: 85px !important;
	}

	.mR85 {
		margin-right: 85px !important;
	}

	.mB85 {
		margin-bottom: 85px !important;
	}

	.mL85 {
		margin-left: 85px !important;
	}

	.pT85 {
		padding-top: 85px !important;
	}

	.pR85 {
		padding-right: 85px !important;
	}

	.pB85 {
		padding-bottom: 85px !important;
	}

	.pL85 {
		padding-left: 85px !important;
	}

	.mT90 {
		margin-top: 90px !important;
	}

	.mR90 {
		margin-right: 90px !important;
	}

	.mB90 {
		margin-bottom: 90px !important;
	}

	.mL90 {
		margin-left: 90px !important;
	}

	.pT90 {
		padding-top: 90px !important;
	}

	.pR90 {
		padding-right: 90px !important;
	}

	.pB90 {
		padding-bottom: 90px !important;
	}

	.pL90 {
		padding-left: 90px !important;
	}

	.mT95 {
		margin-top: 95px !important;
	}

	.mR95 {
		margin-right: 95px !important;
	}

	.mB95 {
		margin-bottom: 95px !important;
	}

	.mL95 {
		margin-left: 95px !important;
	}

	.pT95 {
		padding-top: 95px !important;
	}

	.pR95 {
		padding-right: 95px !important;
	}

	.pB95 {
		padding-bottom: 95px !important;
	}

	.pL95 {
		padding-left: 95px !important;
	}

	.mT100 {
		margin-top: 100px !important;
	}

	.mR100 {
		margin-right: 100px !important;
	}

	.mB100 {
		margin-bottom: 100px !important;
	}

	.mL100 {
		margin-left: 100px !important;
	}

	.pT100 {
		padding-top: 100px !important;
	}

	.pR100 {
		padding-right: 100px !important;
	}

	.pB100 {
		padding-bottom: 100px !important;
	}

	.pL100 {
		padding-left: 100px !important;
	}

	.w5 {
		width: 5%;
	}

	.w10 {
		width: 10%;
	}

	.w15 {
		width: 15%;
	}

	.w20 {
		width: 20%;
	}

	.w23 {
		width: 23%;
	}

	.w25 {
		width: 25%;
	}

	.w30 {
		width: 30%;
	}

	.w33 {
		width: 33%;
	}

	.w40 {
		width: 40%;
	}

	.w50 {
		width: 50%;
	}

	.w60 {
		width: 60%;
	}

	.w66 {
		width: 66%;
	}

	.w70 {
		width: 70%;
	}

	.w75 {
		width: 75%;
	}

	.w80 {
		width: 80%;
	}

	.w90 {
		width: 90%;
	}

	.w95 {
		width: 95%;
	}

	.vT {
		vertical-align: top !important;
	}

	.vM {
		vertical-align: middle !important;
	}

	.vB {
		vertical-align: bottom !important;
	}

	.txtC {
		text-align: center !important;
	}

	.txtL {
		text-align: left !important;
	}

	.txtR {
		text-align: right !important;
	}

	.nowrap {
		white-space: nowrap;
	}

	.uppercase {
		text-transform: uppercase;
	}

	.txtB {
		font-weight: bold;
	}

}