.hidden-pc {
	display: none!important;
}
.hidden-sp {
	display: block!important;
}
.container {
	width: 1040px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

header {
	padding: 11px 0 16px;
	position: static;
	.container {
		padding: 0;
		#logo a {
			width: 160px;
			height: 104px;
			background-size: 160px auto;
		}
		.sp {
			display: none;
		}
		.pc {
			display: block;
		}
	}
}

footer {
	.top .container {
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		padding: 25px 0;
		.sitemap {
			-webkit-box-flex: 1;
			-webkit-flex: 1;
			-moz-box-flex: 1;
			-moz-flex: 1;
			-ms-flex: 1;
			flex: 1;
			.sp {
				display: none;
			}
			.pc {
				display: -webkit-box;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flexbox;
				display: flex;
			}
			.sns {
				padding-top: 25px;
				text-align: left;
				li {
					margin: 0 20px 0 0;
				}
			}
		}
		.reserve {
			padding: 0;
			width: 248px;
			.btn {
				margin-bottom: 18px;
				a {
					padding: 11px 10px;
				}
			}
		}
		.logo {
			display: block;
		}
	}
	.bottom .container .copyright br {
		display: none;
	}
}

#main {
	margin-top: 0;
	.container.sidebar {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		justify-content: space-between;
		article {
			width: 690px;
		}
		#lnav {
			width: 265px;
			background-color: white;
		}
	}
}

#topSlider {
	.slider-for {
		padding-bottom: 0;
		margin-bottom: 16px;
		.slick-slide {
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
			opacity: 0.3;
			.hidden-pc {
				display: none;
			}
			.hidden-sp {
				display: block;
			}
		}
		.slick-arrow {
			width: 31px;
			height: 60px;
			background-image: url('/images/replace-se26d926fff.png');
			background-position: 0 -562px;
			background-repeat: no-repeat;
			-moz-background-size: 160px auto;
			-o-background-size: 160px auto;
			-webkit-background-size: 160px auto;
			background-size: 160px auto;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			left: 50%;
			margin-left: -575px;
			top: 50%;
			margin-top: -30px;
			&.slick-next {
				width: 31px;
				height: 60px;
				background-image: url('/images/replace-se26d926fff.png');
				background-position: 0 -754px;
				background-repeat: no-repeat;
				-moz-background-size: 160px auto;
				-o-background-size: 160px auto;
				-webkit-background-size: 160px auto;
				background-size: 160px auto;
				text-indent: 100%;
				white-space: nowrap;
				overflow: hidden;
				right: 50%;
				margin-right: -575px;
			}
		}
	}
	.slider-nav-wrap {
		display: block;
		width: 1056px;
		margin: 0 auto;
	}
}


article {
	padding: 0 0 50px;
	padding-bottom: 100px;
	min-height: 600px;
	h1 {
		border-bottom-width: 4px;
	}
	h2 {
		padding: 30px 0 5px;
	}
	h3 {
		padding: 40px 0 5px;
	}
	h4 {
		margin-top: 40px;
		padding: 5px 10px 5px;
	}
	h5 {
		font-size: 14px;
		font-size: 1.4rem;
		line-height: 1.28571;
		padding: 3px 10px 2px;
	}
	p {
		padding: 30px 0 0;
		&.lead {
			padding: 40px 35px 15px;
			font-weight: bold;
			font-size: 16px;
			font-size: 1.6rem;
			line-height: 1.875;
		}
		&.more {
			background-color: #f0f0f0;
			a {
				padding: 6px 15px 6px;
				-moz-border-radius: 0 0 5px 5px;
				-webkit-border-radius: 0;
				border-radius: 0 0 5px 5px;
			}
		}
		&.link {
			padding: 10px 0 0;
			font-size: 14px;
			font-size: 1.4rem;
			line-height: 1.57143;
		}
		&.btns {
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			margin: 30px 0 30px;
			a {
				font-size: 30px;
				font-size: 3rem;
				line-height: 1.33333;
				padding: 30px 20px 30px;
			}
		}
	}
	ul {
		padding: 30px 0 0;
	}
	table {
		margin: 30px 60px 0;
		width: calc(100% - 120px);
		tr {
			th, td {
				padding: 14px 16px;
			}
		}
	}
	.paragraphSet {
		padding-top: 30px;
	}
	.boxSet {
		margin-top: 40px;
		padding: 0 30px 40px;
	}
	.imgBox {
		padding: 30px 0 10px;
	}
	.halfSet {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		.unit {
			margin-top: 30px;
			margin-right: 16px;
			margin-bottom: 0;
/* 上部top修正に伴い、追加 */
-webkit-box-flex: 1;
-webkit-flex: 1;
-moz-box-flex: 1;
-moz-flex: 1;
-ms-flex: 1;
flex: 1;
&:nth-child(2n) {
	margin-right: 0;
}
}
}
.oneThirdSet {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	.unit {
		margin-right: 16px;
		margin-top: 30px;
		width: 336px;
		&:nth-child(3n) {
			margin-right: 0;
		}
		figure img {
			max-height: 336px;
		}
		.inner {
			padding: 0 20px 15px;
			.cat {
				padding-top: 15px;
				li a {
					-moz-transition: opacity 0.2s linear;
					-o-transition: opacity 0.2s linear;
					-webkit-transition: opacity 0.2s linear;
					transition: opacity 0.2s linear;
					-webkit-backface-visibility: hidden;
					padding: 2px 14px;
					&:hover {
						filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
						opacity: 0.7;
						text-decoration: inherit;
					}
				}
			}
			.norm {
				padding: 10px 0 0;
				font-size: 14px;
				font-size: 1.4rem;
				line-height: 1.57143;
			}
		}
	}
	&.blogTop .unit {
		&:nth-child(2n) {
			margin-right: 0;
		}
		&:nth-child(3n) {
			margin-right: auto;
		}
	}
	&.relate .unit {
		margin-right: 16px;
		width: 219px;
		&:nth-child(3n) {
			margin-right: auto;
		}
	}
}
.halfSet .unit .boxSet, .oneThirdSet .unit .boxSet {
	margin-top: 0;
	padding: 0 15px 20px;
}
.halfSet .unit p, .oneThirdSet .unit p, .halfSet .unit ul, .oneThirdSet .unit ul {
	padding-top: 20px;
}
.imgSet {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 30px;
	padding: 0;
	figure {
		width: 520px;
		img {
			max-height: 520px;
		}
	}
	figcaption {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-moz-box-flex: 1;
		-moz-flex: 1;
		-ms-flex: 1;
		flex: 1;
		padding: 0 15px 15px;
		p {
			padding-top: 15px;
		}
	}
}
.halfImgSet {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	.unit {
		margin-top: 30px;
		padding: 0;
		width: 512px;
		margin-right: 16px;
		&:nth-child(2n) {
			margin-right: 0;
		}
		figure img {
			max-height: 512px;
		}
		.inner {
			padding: 0 20px 20px;
			p {
				padding: 15px 0 0;
			}
		}
	}
}
.topRecommendBox {
	margin-top: 24px;
	.inner {
		padding: 16px 8px 0;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		.unit {
			width: 50%;
			padding-bottom: 25px;
			h5 {
				font-size: 26px;
				font-size: 2.6rem;
				line-height: 1;
				padding: 12px 15px;
			}
			p {
				margin-top: 24px;
				padding: 0 80px 0;
				font-size: 20px;
				font-size: 2rem;
				line-height: 1.5;
				background-position: 15px center;
				background-size: 50px auto;
				&.bg02, &.bg03, &.bg04 {
					background-size: 50px auto;
				}
			}
		}
	}
	.detail a {
		font-size: 24px;
		font-size: 2.4rem;
		line-height: 1;
		padding: 26px 20px;
		-moz-transition: opacity 0.2s linear;
		-o-transition: opacity 0.2s linear;
		-webkit-transition: opacity 0.2s linear;
		transition: opacity 0.2s linear;
		-webkit-backface-visibility: hidden;
		-moz-border-radius: 0 0 10px 10px;
		-webkit-border-radius: 0;
		border-radius: 0 0 10px 10px;
		&:hover {
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
			opacity: 0.7;
			text-decoration: inherit;
		}
		&:after {
			background-size: 15px auto;
		}
	}
}
.formSet, .ccm-block-type-form {
	padding-top: 30px;
}
.formSet .fields, .ccm-block-type-form .fields {
	padding: 0;
}
.formSet .fields .form-group, .ccm-block-type-form .fields .form-group {
	padding-top: 30px;
	overflow: hidden;
	*zoom: 1;
}
.formSet .fields .form-group label, .ccm-block-type-form .fields .form-group label {
	display: inline-block;
	width: 265px;
	float: left;
	line-height: 44px;
	margin-bottom: 0;
}
.formSet .fields .form-group input, .ccm-block-type-form .fields .form-group input {
	width: 425px;
	float: left;
}
.formSet .fields .form-group select, .ccm-block-type-form .fields .form-group select {
	margin-top: 10px;
}
.formSet .fields .form-group textarea, .ccm-block-type-form .fields .form-group textarea {
	height: 220px;
	width: 775px;
	float: left;
}
.formSet .form-actions, .ccm-block-type-form .form-actions {
	padding-top: 60px;
	text-align: center;
}
.formSet .form-actions input[type="submit"], .ccm-block-type-form .form-actions input[type="submit"] {
	padding: 10px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 335px;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	-webkit-backface-visibility: hidden;
}
.formSet .form-actions input[type="submit"]:hover, .ccm-block-type-form .form-actions input[type="submit"]:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
	text-decoration: inherit;
}
.formSet .form-actions button, .ccm-block-type-form .form-actions button {
	padding: 10px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 335px;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	-webkit-backface-visibility: hidden;
}
.formSet .form-actions button:hover, .ccm-block-type-form .form-actions button:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
	text-decoration: inherit;
}
.formSet .form-actions button:after, .ccm-block-type-form .form-actions button:after {
	content: none;
}
.tagWrapper {
	margin-top: 20px;
	padding: 15px 18px 7px;
	ul li {
		width: 32%;
		margin-right: 2%;
		margin-bottom: 7px;
		a {
			-moz-transition: opacity 0.2s linear;
			-o-transition: opacity 0.2s linear;
			-webkit-transition: opacity 0.2s linear;
			transition: opacity 0.2s linear;
			-webkit-backface-visibility: hidden;
			padding: 2px 14px;
			&:hover {
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
				opacity: 0.7;
				text-decoration: inherit;
			}
		}
	}
}
.entryDate {
	padding: 10px 0 0;
}
}

#lnav {
	h2 {
		border-top: none;
		border-bottom: 2px solid #cc0000;
		margin: 40px 0 15px;
		padding: 0 15px 7px;
		font-size: 16px;
		font-size: 1.6rem;
		line-height: 1;
		color: #cc0000;
		text-align: left;
	}
	.sidebarBanners {
		padding: 60px 0 0;
	}
	.sidebarRecent {
		padding: 0 16px 50px;
		.unit {
			padding-bottom: 16px;
			-webkit-box-align: start;
			-ms-flex-align: start;
			-webkit-align-items: flex-start;
			-moz-align-items: flex-start;
			align-items: flex-start;
			figure {
				padding-right: 15px;
				img {
					width: 72px;
				}
			}
			figcaption a {
				padding-left: 0;
				&:before {
					content: none;
				}
			}
		}
	}
	.sidebarTags {
		padding: 0 20px;
	}
}

article {
	p.btns.turquoise {
		background-color: #7ebec0;
		margin: 10px 0 15px;
	}
	table.blog-footer-nav {
		margin: 15px 0 0;
		width: 100%;
	}
	.oneThirdSet .unit .inner .cat li a {
		-moz-transition: opacity 0.2s linear;
		-o-transition: opacity 0.2s linear;
		-webkit-transition: opacity 0.2s linear;
		transition: opacity 0.2s linear;
		-webkit-backface-visibility: hidden;
	}
	.blog_harf_container {
		width: 100%;
		margin-top: 45px;
		.unit .inner {
			padding: 20px;
		}
		p.link a {
			padding-left: 0;
			font-size: 1.5rem;
			color: #0f8399;
			display: list-item;
			list-style: none;
			text-decoration: underline;
			margin-left: 1.3rem;
		}
		.unit {
			p.link a:before {
				content: '▶︎';
				margin-left: -1.5rem;
				margin-top: -0.4rem;
				font-size: 1.3rem;
				color: #0f8399;
			}
			.inner {
				padding: 20px;
				background-color: white;
			}
		}
		figure {
			height: 240px;
			background: #fff;
		}
	}
	.relate .unit {
		display: block;
		.inner {
			padding: 20px;
		}
		.thumbnail_recent {
			background-color: white;
			overflow: visible;
			width: initial;
			height: initial;
			display: block;
			position: relative;
			img {
				min-width: initial;
				position: relative;
				top: 0;
				left: 0;
				-webkit-transform: translate(0, 0);
				-ms-transform: translate(0, 0);
				transform: translate(0, 0);
			}
		}
		.inner {
			padding: 20px;
			width: 100%;
		}
	}
	.oneThirdSet .relate .unit p.link {
		padding-top: 5px;
	}
	.relate .unit p.link a {
		padding-left: 0;
		font-size: 1.5rem;
		color: #0f8399;
		display: list-item;
		list-style: none;
		text-decoration: underline;
		margin-left: 1.3rem;
		&:before {
			content: '▶︎';
			margin-left: -1.5rem;
			margin-top: -0.4rem;
			font-size: 1.3rem;
			color: #0f8399;
		}
	}
	.shopTop {
		p.link a {
			padding-left: 0;
			font-size: 1.5rem;
			color: #0f8399;
			display: list-item;
			list-style: none;
			text-decoration: underline;
			margin-left: 1.3rem;
			&:before {
				content: '▶︎';
				margin-left: -1.5rem;
				margin-top: -0.4rem;
				font-size: 1.3rem;
				color: #0f8399;
			}
		}
		.unit {
			display: block;
			.inner {
				padding: 20px;
				width: initial;
			}
			figure {
				background-color: white;
				overflow: auto;
				width: initial;
				height: initial;
				display: block;
				position: relative;
				img {
					min-width: initial;
					position: relative;
					top: 0;
					left: 0;
					-webkit-transform: translate(0, 0);
					-ms-transform: translate(0, 0);
					transform: translate(0, 0);
				}
			}
			.inner p {
				padding: 10px 0;
			}
		}
	}
	.oneThirdSet .unit {
		margin-top: 0px;
		padding: 0;
	}
	.shopTop {
		margin-bottom: 10px;
	}

	.shopTop p.link a {
		padding-left: 0;
		font-size: 1.5rem;
		color: #0f8399;
		display: list-item;
		list-style: none;
		text-decoration: underline;
		margin-left: 1.3rem;
		&:before {
			content: '▶︎';
			margin-left: -1.5rem;
			margin-top: -0.4rem;
			font-size: 1.3rem;
			color: #0f8399;
		}
	}
	.blog_header_bar h1 {
		border-bottom: 4px solid #cc0000;
		color: #cc0000;
		background: transparent;
		font-weight: 700;
		margin-top: 30px;
		font-size: 1.8rem;
	}

	#lnav {
		.sidebarTags ul {
			display: block;
			li {
				flex-basis: initial;
				width: 100%;
				height: auto;
				background: #fff;
				border-right: none;
				border-bottom: 1px solid #fff;
				text-align: left;
				padding: 5px 0px 5px 15px;
				a {
					margin-bottom: 8px;
					font-size: 14px;
					font-size: 1.4rem;
					line-height: 1.71429;
					color: #0f8399;
					display: list-item;
					list-style: none;
					text-decoration: none;
					&:before {
						display: block;
						content: '▶︎';
						position: absolute;
						margin-top: -7px;
						font-size: 1.4rem;
						color: #0f8399;
						margin-left: -16px;
					}
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		.side_cat_accordion_btn a {
			display: block;
			text-align: center;
			color: #0f8399;
			padding: 5px;
			height: auto;
			font-size: 1.2rem;
			font-weight: 700;
			background: #f3f3f3;
			text-decoration: none;
		}
	}
	.gray_bar {
		border-bottom: 2px solid #333;
		h2 {
			font-size: 1.6rem;
			color: #333;
			font-weight: normal;
			padding: 30px 0 5px;
		}
	}
	#lnav .sidebarRecent {
		padding: 0 16px 0px;
		margin: 0;
	}
	.shop_img_container {
		display: flex;
		width: 100%;
		padding: 0;
		div {
			-webkit-box-flex: 1;
			box-flex: 1;
			width: 100%;
		}
	}
	.googlemap_link {
		font-size: 2.8rem;
		padding: 30px 0 10px;
		i {
			margin-right: 20px;
		}
	}
	.shop_top_ovv_text {
		font-size: 2.4rem;
		padding: 10px 0 10px;
		font-weight: 700;
	}
	h1.shop_name_text {
		font-size: 4.4rem;
		padding: 10px 0 20px;
		margin-top: 40px;
	}
	.forthSet .unit {
		float: left;
		width: 24.25%;
		margin-right: 1%;
		&:nth-child(2n) {
			margin-right: 1%;
		}
		&:nth-child(4n) {
			margin-right: 0;
		}
		&:nth-child(n+3) {
			margin-top: 0;
		}
		&:nth-child(n+5) {
			margin-top: 1%;
		}
	}

	.tenSet {
		width: 100%;
		margin-top: 20px;
		font-size: 0;
		text-align: center;
		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
		}
		.unit {
			display: inline-block;
			box-sizing: border-box;
			width: 10%;
			padding-left: 1px;
			padding-right: 1px;
			background: #F0F0F0;
		}
		div img {
			max-width: 100%;
			height: auto;
			box-sizing: border-box;
			border: 2px solid #FFD401;
		}
	}
}

.plan_boxSet {
	div {
		padding-top: 20px;
	}
	p {
		padding-top: 5px;
	}
}

h2.paragraph {
	margin-top: 50px;
}

#pageTop {
	display: block;
}

/* ===============================================
contact form
=============================================== */
.base_form {
	.form_group {
		display: table;
		table-layout: fixed;
		width: 100%;
	}
	fieldset {
		margin-top: -1px;
	}
	.form_group {
		border-top: 1px solid #c7c7c7;
		border-bottom: 1px solid #c7c7c7;
		.form_ttl,.form_content {
			display: table-cell;
			border: none;
			vertical-align: middle;
		}
		.form_ttl {
			width:30%;
		}
		.form_content {
			width: 70%;
		}
	}
}

#form_start {
	.box-footer {
		.btn-primary {
			max-width: 335px;
		}
	}
}
