@charset "UTF-8";
@charset "UTF-8";
@import "compass";
@import "mixin_reset";
@import "common_parts";
@import "mixin_module";

@include reset;
@include common_parts;

.hidden-sp {
	display: none!important;
}
#wrapper {
	position: relative;
}
/* ===============================================
#header
=============================================== */
header {
	background-color: white;
	border-bottom: 2px solid #cc0000;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
}
.lower {
	.main_header {
		margin-bottom: 20px;
	}
}

.ccm-toolbar-visible header {
	position: static;
}

header .container {
	&:before,&:after {
		display:none;
	}
	position: relative;
	padding: 5px 8px 5px 8px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
	overflow: visible;
	#logo a {
		display: block;
		background: url("/images/replace/logo.png") 0 0 no-repeat;
		text-indent: 200%;
		white-space: nowrap;
		overflow: hidden;
		width: 71px;
		height: 46px;
		background-size: 71px auto;
		-moz-transition: opacity 0.2s linear;
		-o-transition: opacity 0.2s linear;
		-webkit-transition: opacity 0.2s linear;
		transition: opacity 0.2s linear;
		-webkit-backface-visibility: hidden;
		&:hover {
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
			opacity: 0.6;
			text-decoration: inherit;
		}
	}
	.sp > ul {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		> li {
			margin-left: 8px;
			&:first-child {
				margin-left: 0;
			}
			a {
				&#headerSpLang {
					display: inline-block;
					padding: 0 18px 0 20px;
					background-color: #7ebec0;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					border-radius: 5px;
					line-height: 45px;
					height: 45px;
					color: white;
					text-decoration: none;
					i {
						display: inline-block;
						margin-left: 5px;
						width: 11px;
						height: 9px;
						background: url("/images/replace/arrow_bottom_white.png") 0 0 no-repeat;
						background-size: 11px auto;
					}
				}
				&.reservation {
					display: inline-block;
					padding: 0 9px;
					background-color: #cc0000;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					border-radius: 5px;
					line-height: 45px;
					height: 45px;
					color: white;
					text-decoration: none;
				}
				&#headerSpMenu {
					display: inline-block;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					border-radius: 5px;
					padding: 8px;
					height: 45px;
					color: white;
					text-decoration: none;
					i {
						display: block;
						width: 29px;
						height: 29px;
						background-image: url('/images/replace-se26d926fff.png');
						background-position: 0 -1217px;
						background-repeat: no-repeat;
						-moz-background-size: 160px auto;
						-o-background-size: 160px auto;
						-webkit-background-size: 160px auto;
						background-size: 160px auto;
						text-indent: 100%;
						white-space: nowrap;
						overflow: hidden;
					}
					&.active {
						background-color: #4c4c4c;
						i {
							width: 29px;
							height: 29px;
							background-image: url('/images/replace-se26d926fff.png');
							background-position: 0 -1296px;
							background-repeat: no-repeat;
							-moz-background-size: 160px auto;
							-o-background-size: 160px auto;
							-webkit-background-size: 160px auto;
							background-size: 160px auto;
							text-indent: 100%;
							white-space: nowrap;
							overflow: hidden;
						}
					}
				}
			}
			#headerSpLangChild {
				display: none;
				position: absolute;
				z-index: 102;
				left: 0;
				right: 0;
				top: 57px;
				li {
					border-bottom: 1px solid white;
					background-color: #4c4c4c;
					a {
						display: block;
						color: white;
						text-decoration: none;
						padding: 13px 0;
						text-align: center;
						font-size: 16px;
						font-size: 1.6rem;
						line-height: 1.25;
						&.active {
							text-decoration: underline;
						}
					}
				}
			}
			#headerSpMenuChild {
				display: none;
				position: absolute;
				z-index: 103;
				left: 0;
				right: 0;
				top: 57px;
				li {
					border-bottom: 1px solid white;
					background-color: #4c4c4c;
					&.shop {
						background-color: #666;
						padding: 8px 0;
						a {
							padding: 0;
							line-height: 1.8;
						}
					}
					&.sns {
						text-align: center;
						padding: 28px 0;
						background-color: #333;
						a {
							display: inline-block;
							padding: 0;
							margin: 0 8px;
						}
					}
					a, span {
						display: block;
						color: white;
						text-decoration: none;
						padding: 13px 0;
						text-align: center;
						font-size: 16px;
						font-size: 1.6rem;
						line-height: 1.25;
					}
					a#headerSpMenuClose, span#headerSpMenuClose {
						position: absolute;
						z-index: 103;
						display: inline-block;
						background-color: #4c4c4c;
						-moz-border-radius: 5px;
						-webkit-border-radius: 5px;
						border-radius: 5px;
						padding: 7px;
						right: 10px;
						margin-top: -40px;
					}
					a#headerSpMenuClose i, span#headerSpMenuClose i {
						display: block;
						width: 14.5px;
						height: 14.5px;
						background-image: url('/images/replace-se26d926fff.png');
						background-position: 0 -1153px;
						background-repeat: no-repeat;
						-moz-background-size: 160px auto;
						-o-background-size: 160px auto;
						-webkit-background-size: 160px auto;
						background-size: 160px auto;
						text-indent: 100%;
						white-space: nowrap;
						overflow: hidden;
					}
				}
			}
		}
	}
	.pc {
		display: none;
		.util > ul {
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: end;
			-ms-flex-pack: end;
			-webkit-justify-content: flex-end;
			-moz-justify-content: flex-end;
			justify-content: flex-end;
			> li {
				position: relative;
				&:first-child {
					margin-right: 40px;
				}
				a {
					padding: 3px 0 0 6px;
					display: inline-block;
					-moz-transition: opacity 0.2s linear;
					-o-transition: opacity 0.2s linear;
					-webkit-transition: opacity 0.2s linear;
					transition: opacity 0.2s linear;
					-webkit-backface-visibility: hidden;
					&:hover {
						filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
						opacity: 0.7;
						text-decoration: inherit;
					}
					&#headerPcLang {
						display: inline-block;
						padding: 0 28px;
						background-color: #7ebec0;
						-moz-border-radius: 5px;
						-webkit-border-radius: 5px;
						border-radius: 5px;
						line-height: 36px;
						height: 36px;
						color: white;
						text-decoration: none;
						i {
							display: inline-block;
							margin-left: 5px;
							width: 11px;
							height: 9px;
							background: url("/images/replace/arrow_bottom_white.png") 0 0 no-repeat;
							background-size: 11px auto;
						}
					}
				}
				#headerPcLangChild {
					display: none;
					position: absolute;
					z-index: 102;
					left: 0;
					right: 0;
					border: 2px solid #7ebec0;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					border-radius: 5px;
					background-color: white;
					padding: 10px 0 0 26px;
					li {
						margin-bottom: 6px;
						a {
							text-decoration: none;
							padding: 0 0 2px;
							color: black;
							border-bottom: 2px solid transparent;
							-moz-transition: opacity 0.2s linear;
							-o-transition: opacity 0.2s linear;
							-webkit-transition: opacity 0.2s linear;
							transition: opacity 0.2s linear;
							-webkit-backface-visibility: hidden;
							&:hover {
								filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
								opacity: 1;
								text-decoration: inherit;
							}
							&.active, &:hover {
								border-bottom-color: #7ebec0;
							}
						}
					}
				}
			}
		}
		.gnav {
			margin-top: 32px;
			> ul {
				display: -webkit-box;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: end;
				-ms-flex-pack: end;
				-webkit-justify-content: flex-end;
				-moz-justify-content: flex-end;
				justify-content: flex-end;
				> li {
					position: relative;
					border-left: 1px solid #b4b4b4;
					&:first-child {
						border: none;
					}
					&.reserve {
						border: none;
						padding-left: 15px;
					}
					a {
						padding: 11px 20px;
						display: inline-block;
						text-decoration: none;
						color: black;
						&:hover, &.active {
							text-decoration: underline;
							color: #808080;
						}
						&.btn {
							display: inline-block;
							padding: 0 28px;
							background-color: #cc0000;
							-moz-border-radius: 5px;
							-webkit-border-radius: 5px;
							border-radius: 5px;
							line-height: 36px;
							height: 36px;
							color: white;
							-moz-transition: opacity 0.2s linear;
							-o-transition: opacity 0.2s linear;
							-webkit-transition: opacity 0.2s linear;
							transition: opacity 0.2s linear;
							-webkit-backface-visibility: hidden;
							&:hover {
								filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
								opacity: 0.6;
								text-decoration: inherit;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
		#headerPlanList {
			padding: 30px 0 10px;
			display: none;
			> ul {
				display: -webkit-box;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: end;
				-ms-flex-pack: end;
				-webkit-justify-content: flex-end;
				-moz-justify-content: flex-end;
				justify-content: flex-end;
				> li {
					padding-left: 74px;
					font-weight: bold;
					&:first-child {
						border-right: 1px solid #b4b4b4;
						padding-right: 80px;
						padding-left: 0;
					}
					ul {
						font-weight: normal;
						padding-top: 4px;
						li {
							margin-top: 1em;
							a {
								text-decoration: none;
								display: inline-block;
								border-bottom: 1px solid transparent;
								&:hover {
									border-bottom: 1px solid #808080;
									color: #808080;
								}
								span {
									display: inline-block;
									width: 10em;
								}
							}
						}
					}
				}
			}
		}
		#headerShopList {
			padding: 20px 104px 10px;
			display: none;
			ul {
				display: -webkit-box;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: end;
				-ms-flex-pack: end;
				-webkit-justify-content: flex-end;
				-moz-justify-content: flex-end;
				justify-content: flex-end;
				li {
					padding-left: 40px;
					font-weight: bold;
					&:first-child {
						border-right: 1px solid #b4b4b4;
						padding-right: 40px;
						padding-left: 0;
					}
					a {
						text-decoration: none;
						&:hover {
							text-decoration: underline;
							color: #808080;
						}
					}
				}
			}
		}
	}
}
/* ===============================================
#footer
=============================================== */
footer {
	.top {
		background-color: #666;
		.container {
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-direction: reverse;
			-webkit-box-orient: vertical;
			-webkit-flex-direction: column-reverse;
			-moz-flex-direction: column-reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
			padding: 10px 0 40px;
			.sitemap {
				.sp ul {
					text-align: center;
					margin-bottom: 18px;
					li {
						display: inline-block;
						border-left: 1px solid white;
						color: white;
						&:first-child {
							border-left: none;
						}
						a {
							color: white;
							text-decoration: none;
							display: block;
							padding: 12px 10px;
						}
					}
				}
				.pc {
					display: none;
					> ul {
						width: 265px;
						&:nth-child(2) {
							width: 175px;
						}
						&:nth-child(3) {
							-webkit-box-flex: 1;
							-webkit-flex: 1;
							-moz-box-flex: 1;
							-moz-flex: 1;
							-ms-flex: 1;
							flex: 1;
						}
						> li {
							margin-bottom: 14px;
							color: white;
							&:before {
								content: '■';
								display: inline-block;
								margin-right: 3px;
								color: white;
							}
							a {
								color: white;
								text-decoration: none;
								&:hover {
									text-decoration: underline;
								}
							}
							ul li {
								margin: 10px 0 0 17px;
								&:before {
									content: '・';
									display: inline-block;
									margin-right: 3px;
									color: white;
								}
							}
						}
					}
				}
				.sns {
					padding-top: 15px;
					text-align: center;
					li {
						display: inline-block;
						margin: 0 10px;
						a {
							color: white;
							-moz-transition: opacity 0.2s linear;
							-o-transition: opacity 0.2s linear;
							-webkit-transition: opacity 0.2s linear;
							transition: opacity 0.2s linear;
							-webkit-backface-visibility: hidden;
							&:hover {
								filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
								opacity: 0.7;
								text-decoration: inherit;
							}
						}
					}
				}
			}
			.reserve {
				padding: 0 10px;
				.btn {
					margin-bottom: 40px;
					a {
						display: block;
						text-align: center;
						padding: 17px 10px;
						background-color: #cc0000;
						-moz-border-radius: 5px;
						-webkit-border-radius: 5px;
						border-radius: 5px;
						color: white;
						text-decoration: none;
						-moz-transition: opacity 0.2s linear;
						-o-transition: opacity 0.2s linear;
						-webkit-transition: opacity 0.2s linear;
						transition: opacity 0.2s linear;
						-webkit-backface-visibility: hidden;
						&:hover {
							filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
							opacity: 0.7;
							text-decoration: inherit;
						}
					}
				}
			}
			.logo {
				display: none;
				i {
					display: block;
					margin: 0 auto 15px;
					width: 134px;
					height: 86px;
					background-image: url('/images/replace-se26d926fff.png');
					background-position: 0 -1017px;
					background-repeat: no-repeat;
					-moz-background-size: 160px auto;
					-o-background-size: 160px auto;
					-webkit-background-size: 160px auto;
					background-size: 160px auto;
					text-indent: 100%;
					white-space: nowrap;
					overflow: hidden;
				}
				p {
					text-align: center;
					color: white;
					line-height: 1.4;
				}
			}
		}
	}
	.bottom {
		background-color: black;
		.container .copyright {
			text-align: center;
			color: white;
			padding: 11px 10px;
			line-height: 1.4;
		}
	}
}

#main {
	background-color: #f0f0f0;
	margin-top: 77px;
	.container {
		position: relative;
	}
}
.ccm-toolbar-visible #main {
	margin-top: 0;
}

#pageTop {
	position: fixed ;
	left: auto ;
	right: 15px ;
	bottom: 15px ;
	margin-left: auto ;
	display: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	&.on {
		filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
		opacity: 1;
	}
	a {
		display: block;
		width: 50px;
		height: 50px;
		background-image: url('/images/replace-se26d926fff.png');
		background-position: 0 -1375px;
		background-repeat: no-repeat;
		-moz-background-size: 160px auto;
		-o-background-size: 160px auto;
		-webkit-background-size: 160px auto;
		background-size: 160px auto;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		-moz-transition: opacity 0.2s linear;
		-o-transition: opacity 0.2s linear;
		-webkit-transition: opacity 0.2s linear;
		transition: opacity 0.2s linear;
		-webkit-backface-visibility: hidden;
		&:hover {
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
			opacity: 0.7;
			text-decoration: inherit;
		}
	}
}
article {
	padding: 0 10px 50px;
	padding-bottom: 0;
	img {
		max-width: 100%;
		height: auto;
	}
	span.red {
		color: #cc0000;
		a {
			color: #cc0000;
		}
	}
	.yellow {
		h4 {
			border-color: #ffd400;
		}
		h5, .more {
			background-color: #ffd400;
		}
	}
	.blue {
		h4 {
			border-color: #448aca;
		}
		h5, .more {
			background-color: #448aca;
		}
	}
	.green {
		h4 {
			border-color: #92cc1f;
		}
		h5, .more {
			background-color: #92cc1f;
		}
	}
	.pink {
		h4 {
			border-color: #ff8272;
		}
		h5, .more {
			background-color: #ff8272;
		}
	}
	h1 {
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 1.55556;
		color: #cc0000;
		text-align: center;
		font-weight: bold;
		border-bottom: 3px solid #cc0000;
		padding: 30px 10px 3px;
	}
	h2 {
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 1.55556;
		text-align: center;
		font-weight: bold;
		border-bottom: 2px solid #707070;
		padding: 20px 10px 3px;
	}
	h3 {
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 1.55556;
		text-align: center;
		font-weight: bold;
		border-bottom: 1px solid #7ebec0;
		padding: 20px 10px 15px;
	}
	h4 {
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 1.55556;
		text-align: center;
		font-weight: bold;
		border-top: 1px solid #7ebec0;
		background-color: white;
		padding: 3px 10px 3px;
		margin-top: 20px;
	}
	h5 {
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 1.55556;
		text-align: center;
		color: white;
		background-color: #7ebec0;
		padding: 3px 10px 4px;
	}
	p {
		font-size: 14px;
		font-size: 1.4rem;
		line-height: 1.71429;
		padding: 15px 10px 0;
		&.lead {
			font-size: 16px;
			font-size: 1.6rem;
			line-height: 1.5;
			padding: 25px 10px 0;
		}
		&.more {
			padding: 0;
			a {
				display: block;
				background-color: #7ebec0;
				padding: 10px 15px 10px;
				text-align: center;
				font-size: 16px;
				font-size: 1.6rem;
				line-height: 1.5;
				color: white;
				text-decoration: none;
				-moz-transition: opacity 0.2s linear;
				-o-transition: opacity 0.2s linear;
				-webkit-transition: opacity 0.2s linear;
				transition: opacity 0.2s linear;
				-webkit-backface-visibility: hidden;
				&:hover {
					filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
					opacity: 0.7;
					text-decoration: inherit;
				}
				&:before {
					content: '';
					display: inline-block;
					width: 9px;
					height: 11px;
					margin-right: 8px;
					background: url("/images/replace/arrow_right_white.png");
					background-size: 9px auto;
				}
			}
		}
		&.link {
			font-size: 14px;
			font-size: 1.4rem;
			line-height: 1.71429;
			padding: 15px 10px 0;
			a {
				display: inline-block;
				position: relative;
				text-decoration: none;
				padding-left: 16px;
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 6px;
					left: 0;
					width: 9px;
					height: 11px;
					background: url("/images/replace/arrow_right.png");
					background-size: 9px auto;
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&.btns {
			padding: 0;
			margin: 20px 10px 0;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			&.red {
				background-color: #cc0000;
			}
			a {
				font-size: 19px;
				font-size: 1.9rem;
				line-height: 1.375;
				padding: 16px 15px 15px;
				color: white;
				text-decoration: none;
				text-align: center;
				display: block;
				font-weight: 700;
			}
		}
	}
	ul {
		font-size: 14px;
		font-size: 1.4rem;
		line-height: 1.71429;
		padding: 15px 10px 0;
		li {
			position: relative;
			padding-left: 16px;
			&:before {
				position: absolute;
				content: "・";
				display: inline-block;
				left: 0;
				top: 0;
			}
		}
	}
	figure {
		text-align: center;
		img {
			vertical-align: bottom;
		}
	}
	table {
		margin: 15px 10px 0;
		width: -webkit-calc(100% - 20px);
		width: calc(100% - 20px);
		border: 2px solid #707070;
		tr {
			th {
				border: 1px solid #707070;
				background-color: #f0f0f0;
				text-align: center;
				vertical-align: middle;
				font-weight: bold;
				padding: 14px 10px;
				line-height: 1.6;
			}
			td {
				border: 1px solid #707070;
				padding: 14px 10px;
				background-color: white;
				line-height: 1.6;
			}
		}
	}
	.paragraphSet {
		padding-top: 15px;
		margin-bottom: -10px;
	}
	.boxSet {
		background-color: white;
		padding: 0 0 20px;
		margin-top: 20px;
		&.nomargin {
			margin-top: 0;
			padding-top: 1px;
		}
	}
	.imgBox {
		padding: 20px 0 10px;
	}
	.halfSet .unit {
		background-color: white;
		margin-bottom: 20px;
/* topをbottomに修正 */
}
.transparent .halfSet .unit {
	background-color: transparent;
}
.oneThirdSet .unit {
	margin-top: 20px;
	padding: 0 0 0;
	h4 {
		margin-top: 0;
	}
	h5 {
		border-bottom: 1px solid white;
	}
	figure {
		text-align: center;
		background-color: white;
		img {
			max-height: 400px;
		}
	}
	.inner {
		padding: 5px 10px 10px;
		background-color: white;
		.cat {
			padding-top: 10px;
			li {
				display: inline-block;
				margin-right: 6px;
				margin-bottom: 10px;
				padding-left: 0;
				&:before {
					content: none;
				}
				a {
					display: block;
					background-color: #a0a0a0;
					padding: 8px 14px;
					text-decoration: none;
					color: white;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
					border-radius: 5px;
				}
			}
		}
		.norm {
			padding: 15px 10px 0;
			font-size: 14px;
			font-size: 1.4rem;
			line-height: 1.71429;
			li {
				position: relative;
				padding-left: 16px;
				&:before {
					position: absolute;
					content: "・";
					display: inline-block;
					left: 0;
					top: 0;
				}
			}
		}
	}
}
.halfSet .unit .boxSet, .oneThirdSet .unit .boxSet, .halfSet .unit h4:first-of-type, .oneThirdSet .unit h4:first-of-type {
	margin-top: 0;
}
.halfSet .unit p, .oneThirdSet .unit p {
	padding-top: 10px;
}
.halfSet .unit p.more, .oneThirdSet .unit p.more {
	padding-top: 0;
}
.halfSet .unit p.link, .oneThirdSet .unit p.link, .halfSet .unit ul, .oneThirdSet .unit ul {
	padding-top: 10px;
}
.imgSet {
	background-color: white;
	margin-top: 20px;
	padding: 0 0 20px;
	&.imgRight {
		figure {
			-webkit-box-ordinal-group: 2;
			-webkit-order: 1;
			-moz-order: 1;
			-ms-flex-order: 1;
			order: 1;
		}
		figcaption {
			-webkit-box-ordinal-group: 1;
			-webkit-order: 0;
			-moz-order: 0;
			-ms-flex-order: 0;
			order: 0;
		}
	}
	figure {
		text-align: center;
		img {
			max-height: 400px;
		}
	}
	figcaption {
		font-size: 14px;
		font-size: 1.4rem;
		line-height: 1.57143;
		padding: 0 10px 15px;
		p {
			padding-top: 10px;
		}
	}
}
.halfImgSet {
	.unit {
		background-color: white;
		margin-top: 20px;
		padding: 0 0 20px;
		h5 {
			margin-bottom: 1px;
		}
		figure {
			text-align: center;
			img {
				max-height: 400px;
				display: inline-block;
			}
		}
		.inner p a {
			display: inline-block;
			position: relative;
			text-decoration: none;
			padding-left: 16px;
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 6px;
				left: 0;
				width: 9px;
				height: 11px;
				background: url("/images/replace/arrow_right.png");
				background-size: 9px auto;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&.slick-slider {
		.slick-arrow {
			-webkit-appearance: none;
			border: none;
			background-color: transparent;
			color: transparent;
			width: 32px;
			height: 32px;
			background-image: url('/images/replace-se26d926fff.png');
			background-position: 0 -480px;
			background-repeat: no-repeat;
			-moz-background-size: 160px auto;
			-o-background-size: 160px auto;
			-webkit-background-size: 160px auto;
			background-size: 160px auto;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			position: absolute;
			left: 8px;
			top: 38%;
			z-index: 2;
			&.slick-next {
				right: 8px;
				left: auto;
				width: 32px;
				height: 32px;
				background-image: url('/images/replace-se26d926fff.png');
				background-position: 0 -672px;
				background-repeat: no-repeat;
				-moz-background-size: 160px auto;
				-o-background-size: 160px auto;
				-webkit-background-size: 160px auto;
				background-size: 160px auto;
				text-indent: 100%;
				white-space: nowrap;
				overflow: hidden;
			}
		}
		.slick-dots {
			text-align: center;
			li {
				display: inline-block;
				padding: 0 8px;
				&:before {
					content: none;
				}
				button {
					border: none;
					background-color: transparent;
					color: transparent;
					&:before {
						content: '';
						display: block;
						-moz-border-radius: 50%;
						-webkit-border-radius: 50%;
						border-radius: 50%;
						width: 16px;
						height: 16px;
						background-color: white;
					}
				}
				&.slick-active button:before {
					background-color: #333;
				}
			}
		}
	}
}
.topRecommendBox {
	margin-top: 30px;
	.inner {
		background-color: white;
		padding: 20px 0 0;
		.unit {
			height: auto !important;
			padding: 0 8px 15px;
			h5 {
				font-size: 13px;
				font-size: 1.3rem;
				line-height: 1;
				padding: 6px 10px;
			}
			p {
				text-align: center;
				margin-top: 10px;
				padding: 43px 0 0;
				font-size: 14px;
				font-size: 1.4rem;
				line-height: 1.5;
				background: url("/images/replace/recommend_icon_01.png") center top no-repeat;
				background-size: 35px auto;
				&.bg02 {
					background-image: url("/images/replace/recommend_icon_02.png");
					background-size: 35px auto;
				}
				&.bg03 {
					background-image: url("/images/replace/recommend_icon_03.png");
					background-size: 35px auto;
				}
				&.bg04 {
					background-image: url("/images/replace/recommend_icon_04.png");
					background-size: 35px auto;
				}
			}
		}
	}
	.detail {
		padding: 0;
		text-align: center;
		a {
			display: block;
			background-color: #0f8399;
			color: white;
			text-decoration: none;
			font-size: 16px;
			font-size: 1.6rem;
			line-height: 1.25;
			padding: 14px 10px;
			&:after {
				content: '';
				display: inline-block;
				width: 15px;
				height: 18px;
				margin-left: 5px;
				background: url("/images/replace/arrow_right_white.png") 0 0 no-repeat;
				background-size: 9px auto;
			}
		}
	}
}
// .formSet, .ccm-block-type-form {
// 	padding-bottom: 50px;
// }
.formSet .fields, .ccm-block-type-form .fields {
	padding: 0 10px;
}
.formSet .fields .form-group, .ccm-block-type-form .fields .form-group {
	padding-top: 25px;
}
.formSet .fields .form-group label, .ccm-block-type-form .fields .form-group label {
	font-weight: bold;
	display: block;
	float: none;
	margin-bottom: 15px;
}
.formSet .fields .form-group label span, .ccm-block-type-form .fields .form-group label span {
	color: #cc0000;
}
.formSet .fields .form-group input, .ccm-block-type-form .fields .form-group input {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: 1px solid #7d7d7d;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.42857;
	padding: 10px;
	width: 100%;
}
.formSet .fields .form-group textarea, .ccm-block-type-form .fields .form-group textarea {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: 1px solid #7d7d7d;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.42857;
	font-family: Helvetica , Arial , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" ,"メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	padding: 10px;
	width: 100%;
	height: 200px;
}
.formSet .form-actions, .ccm-block-type-form .form-actions {
	padding-top: 30px;
}
.formSet .form-actions input[type="submit"], .ccm-block-type-form .form-actions input[type="submit"], .formSet .form-actions button, .ccm-block-type-form .form-actions button {
	width: 100%;
	background-color: #7ebec0;
	border: none;
	color: white;
	font-size: 1.6rem;
	line-height: 1;
	padding: 18px 0;
	cursor: pointer;
	font-weight: bold;
	i {
		font-size: 2.2rem;
		vertical-align: -2px;
	}
	&.btn-primaly-high {
		background: #cc0000;
		color: #fff;
	}
}
// .formSet .form-actions button:after, .ccm-block-type-form .form-actions button:after {
// 	content: '';
// 	display: inline-block;
// 	margin-left: 10px;
// 	width: 9px;
// 	height: 11px;
// 	background: url("/images/replace/arrow_right_white.png");
// 	background-size: 9px auto;
// }
.tagWrapper {
	margin-top: 30px;
	padding: 20px 10px 10px;
	background-color: white;
	ul {
		padding: 0;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		li {
			width: 31%;
			padding: 0;
			margin: 0 3% 10px 0;
			&:nth-child(3n) {
				margin-right: 0;
			}
			&:before {
				content: none;
			}
			a {
				display: block;
				background-color: #a0a0a0;
				padding: 8px 14px;
				text-decoration: none;
				color: white;
				text-align: center;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				border-radius: 5px;
			}
		}
	}
}
.entryImage {
	background-color: white;
}
.entryDate {
	text-align: right;
	padding: 10px 10px 0;
}
.iframeWrapper {
	text-align: center;
}
}


/* compiled from /scss/_sidebar.scss */
/* ================================================== *
*    compass
* ================================================== */

#lnav {
	img {
		max-width: 100%;
		height: auto;
	}
	figure img {
		vertical-align: bottom;
	}
	h2 {
		border-top: 1px solid #7ebec0;
		margin: 50px 0 20px;
		padding: 8px 10px 0;
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 1;
		text-align: center;
	}
	.sidebarBanners figure {
		margin-bottom: 1px;
	}
	.sidebarRecent {
		padding: 0 8px 30px;
		.unit {
			padding-bottom: 20px;
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			-moz-align-items: center;
			align-items: center;
			figure {
				padding-right: 13px;
				img {
					width: 106px;
					height: auto;
				}
			}
			figcaption {
				font-size: 14px;
				font-size: 1.4rem;
				line-height: 1.71429;
				a {
					display: inline-block;
					position: relative;
					text-decoration: none;
					padding-left: 16px;
					&:before {
						content: '';
						display: block;
						position: absolute;
						top: 6px;
						left: 0;
						width: 9px;
						height: 11px;
						background: url("/images/replace/arrow_right.png");
						background-size: 9px auto;
					}
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	.sidebarTags {
		padding: 0 12px;
		ul li {
			margin-bottom: 8px;
			font-size: 14px;
			font-size: 1.4rem;
			line-height: 1.71429;
			a {
				display: inline-block;
				position: relative;
				text-decoration: none;
				padding-left: 16px;
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 6px;
					left: 0;
					width: 9px;
					height: 11px;
					background: url("/images/replace/arrow_right.png");
					background-size: 9px auto;
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.page-type-shop-top article .boxSet table tr th {
	width: 20%;
	white-space: nowrap;
}
.page-type-shop-top article .boxSet table tr td {
	width: 80%;
}
.page-type-shop-top article .boxSet table tr {
	th {
		width: 20%;
		white-space: nowrap;
	}
	td {
		width: 80%;
	}
}

#topSlider {
	margin-bottom: 15px;
	.slider-for {
		padding-bottom: 20px;
		.slick-slide {
			-moz-transition: opacity 1s linear;
			-o-transition: opacity 1s linear;
			-webkit-transition: opacity 1s linear;
			transition: opacity 1s linear;
			&.slick-active {
				filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
				opacity: 1;
			}
			.hidden-pc {
				display: block;
				width: 100%;
			}
			.hidden-sp {
				display: none;
			}
		}
		.slick-arrow {
			width: 32px;
			height: 32px;
			background-image: url('/images/replace-se26d926fff.png');
			background-position: 0 -480px;
			background-repeat: no-repeat;
			-moz-background-size: 160px auto;
			-o-background-size: 160px auto;
			-webkit-background-size: 160px auto;
			background-size: 160px auto;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			border-radius: 0;
			border: 0;
			background-color: transparent;
			color: transparent;
			position: absolute;
			left: 9px;
			top: 45%;
			margin-top: -16px;
			z-index: 2;
			&.slick-next {
				width: 32px;
				height: 32px;
				background-image: url('/images/replace-se26d926fff.png');
				background-position: 0 -672px;
				background-repeat: no-repeat;
				-moz-background-size: 160px auto;
				-o-background-size: 160px auto;
				-webkit-background-size: 160px auto;
				background-size: 160px auto;
				text-indent: 100%;
				white-space: nowrap;
				overflow: hidden;
				right: 9px;
				left: auto;
			}
		}
		.slick-dots {
			margin-top: 20px;
			text-align: center;
			li {
				display: inline-block;
				margin: 0 10px;
				&:before {
					display: none;
				}
				button {
					-moz-border-radius: 50%;
					-webkit-border-radius: 50%;
					border-radius: 50%;
					border: 0;
					background-color: #ffffff;
					color: transparent;
					font-size: 1px;
					font-size: 0.1rem;
					line-height: 1;
					width: 16px;
					height: 16px;
				}
				&.slick-active button {
					background-color: #4c4c4c;
				}
			}
		}
	}
	.slider-nav-wrap {
		display: none;
		.slider-nav .slick-slide {
			outline: none;
			cursor: pointer;
			img {
				margin: 0 auto;
			}
		}
	}
}

@include module;
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
	&:focus {
		outline: none;
	}
	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}

.slick-slider {
	.slick-track, .slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide {
	img {
		display: block;
	}
	&.slick-loading img {
		display: none;
	}
	&.dragging img {
		pointer-events: none;
	}
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

/*================================
/* EASTER EGGs ADD Part
/*================================*/
/* instagrum 修正*/

.gi-wrapper--photo li:before {
	content: "";
	display: none;
}

/* トップ　タイトル周り */
/* メインタイトル */

article h1 {
	background: #cc0000;
	color: white;
	border-bottom: none;
	padding: 10px 10px 5px;
	// margin-left: -10px;
	// margin-right: -10px;
	margin-top: 10px;
}

h1 {
	.h_title {
		font-size: 2.0rem;
		font-weight: 700;
	}
	.h_subtitle {
		font-size: 1.3rem;
		font-weight: normal;
		color: #fbc8c8;
	}
}

/* レンタルプラン周り */

article {
	.rental_plan h4 {
		background: #ffd400;
		border-color: none;
		border-top: none;
	}
	h4 {
		padding: 10px 10px 7px;
	}
	.halfSet .unitEmpty {
		background-color: none;
		width: 563.1px;
	}
}

/* ショップ周り */

h2 {
	.h_title {
		font-size: 2.0rem;
		font-weight: 700;
	}
	.h_subtitle {
		font-size: 1.3rem;
		font-weight: normal;
		color: #989898;
	}
}

article {
	.topShopSet .oneThirdSet .unit {
		margin-bottom: 10px;
	}
	.oneThirdSet .unit {
		.shop_box {
			border: 1px solid #7ebec0;
			h4 {
				border-top: none;
				background: #0f8399;
				color: white;
			}
			h5 {
				padding: 3px 0;
				font-size: 1.4rem;
			}
		}
		.shop_area_text {
			border-top: none;
			background: #0f8399;
			color: #aeddde;
			font-size: 1.3rem;
			padding-bottom: 15px;
			text-align: center;
		}
		.shop_ovv_textarea {
			margin-left: 10px;
		}
	}
}

.shop_ovv_textarea {
	.shop_ovv_text {
		font-weight: 700;
		margin-bottom: 5px;
		font-size: 1.3rem;
		line-height: 1.7rem;
	}
	.shop_ovv_link {
		a {
			color: #0f8399;
			font-size: 1.1rem;
			text-decoration: none;
			line-height: 1.6rem;
			display: list-item;
			list-style: none;
			text-decoration: underline;
			margin-left: 140px;
			&:before {
				content: '▶︎';
				position: absolute;
				margin-left: -1.4rem;
				font-size: 1.1rem;
				color: #0f8399;
			}
		}
		.right-caret {
			font-size: 1.2rem;
			color: #0f8399;
		}
	}
}

article .oneThirdSet .unit .shop_box {
	.shop_info_ovv {
		background: white;
		padding: 15px;
	}
	.shop_image {
		float: left;
		margin: 0 10px 12px 0;
		img {
			height: 75px;
			width: auto;
		}
	}
}

.shop_lb {
	clear: both;
	display: block;
	a {
		display: block;
		text-align: center;
		width: 100%;
		padding: 10px 0;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		background: #cc0000;
		color: #fff;
		margin: 15px 0 0;
		text-decoration: none;
		line-height: 30px;
		font-weight: 700;
	}
}

article h2 {
	border-bottom: none;
	padding: 20px 10px 15px;
}

.back_withe {
	background: #fff;
}

article .halfSet .unit {
	background-color: transparent;
}

.plan_link a {
	color: #0f8399;
	padding-bottom: 1px;
	border-bottom: 1px solid #0f8399;
	text-decoration: none;
	line-height: 1.8rem;
}

.plan_right-caret {
	color: #0f8399;
}

.toPlan_link {
	background: #fff;
	padding: 0 15px 15px;
	border-left: 1px solid #ffd400;
	border-right: 1px solid #ffd400;
	border-bottom: 1px solid #ffd400;
	div {
		margin: 0 0 5px;
	}
}

/* boxSet周り */

.side_yellow {
	border-left: 1px solid #ffd400;
	border-right: 1px solid #ffd400;
}

.border-side-none {
	border-left: none;
	border-right: none;
}

.border-side-yellow {
	border-left: 1px solid #ffd400;
}

/* レンタルの流れを確認するボタン */

article {
	p.btns.turquoise {
		background-color: #7ebec0;
		margin: -20px 0 15px;
	}
	table.blog-footer-nav {
		border: none;
		border-collapse: collapse;
		padding: 0;
		margin: 15px 0 0;
		width: 100%;
	}
}

table.blog-footer-nav {
	th, td {
		border: none;
		border-collapse: collapse;
		padding: 0;
		margin: 15px 0 0;
		width: 100%;
	}
}

article {
	table.blog-footer-nav {
		th {
			background: #fff;
			font-weight: normal;
			padding: 15px 20px 10px;
			font-size: 1.2rem;
			width: 50%;
		}
		td {
			padding: 0 20px 20px;
			min-height: 65px;
			vertical-align: top;
			font-weight: 700;
			font-size: 1.5rem;
			width: 50%;
		}
		th {
			&.prevArea {
				text-align: left;
				border-right: 1px solid #f0f0f0;
			}
			&.nextArea {
				text-align: right;
				border-left: 1px solid #f0f0f0;
			}
		}
		td {
			&.prevArea {
				border-right: 1px solid #f0f0f0;
			}
			&.nextArea {
				border-left: 1px solid #f0f0f0;
			}
			&.toList {
				border-top: 1px solid #f0f0f0;
				padding: 10px 0;
				text-align: center;
			}
			a {
				text-decoration: none;
				display: block;
			}
		}
		th.linkon a, td.linkon a {
			color: #0f8399;
			text-decoration: none;
		}
		th.linkoff, td.linkoff {
			color: #a1a1a1;
			font-weight: normal;
		}
		th span {
			&.right-caret {
				margin-left: 3px;
			}
			&.left-caret {
				margin-right: 3px;
			}
		}
		td {
			i {
				margin-right: 5px;
			}
			&.toListArea {
				display: block;
				margin: 0 auto;
			}
		}
	}
	.oneThirdSet .unit .inner .cat li a {
		display: block;
		background-color: white;
		padding: 2px 14px;
		text-decoration: none;
		border: 1px solid #c5c5c5;
		color: #0f8399;
		-moz-border-radius: 25px;
		-webkit-border-radius: 25px;
		border-radius: 25px;
		font-size: 1.2rem;
	}
}

/* Page List 周り */
/* 共通 */

.post_date {
	color: #adadad;
	font-size: 1.2rem;
}

/* blog top */

article {
	.blog_harf_container {
		width: 100%;
		margin-top: 15px;
		p.link a {
			padding-left: 0;
			font-size: 1.4rem;
			color: #0f8399;
			display: list-item;
			list-style: none;
			text-decoration: underline;
			margin-left: 0rem;
		}
		.unit {
			p.link {
				padding: 5px 0 0;
			}
			.inner {
				padding: 15px 5px 0 15px;
				background-color: white;
				height: 95px;
			}
		}
		figure {
			background: #fff;
		}
		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
		}
		.unit {
			float: left;
			width: 49%;
			padding: 0 0 0;
			margin-right: 2%;
			&:nth-child(2n) {
				margin-right: 0;
			}
			&:nth-child(n+3) {
				margin-top: 2%;
			}
		}
	}
	.relate .unit {
		display: flex;
		margin-top: 1px;
		.thumbnail_recent {
			background-color: white;
			overflow: hidden;
			width: 95px;
			height: 95px;
			display: block;
			position: relative;
			img {
				min-width: 95px;
				position: relative;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}
		.inner {
			padding: 15px 0 0 15px;
			width: 80%;
		}
		p.link {
			padding-top: 10px;
			padding-left: 0px;
			a {
				padding-left: 0;
				font-size: 1.5rem;
				color: #0f8399;
				display: list-item;
				list-style: none;
				text-decoration: underline;
				margin-left: 1.3rem;
				&:before {
					content: '▶︎';
					margin-left: -1.5rem;
					margin-top: -0.4rem;
					font-size: 1.3rem;
					color: #0f8399;
				}
			}
		}
	}
	.shopTop {
		.unit p.link {
			padding-top: 5px;
		}
		p.link a {
			padding-left: 0;
			font-size: 1.5rem;
			color: #0f8399;
			display: list-item;
			list-style: none;
			text-decoration: underline;
			margin-left: 0;
			&:before {
				content: '';
			}
		}
		.unit {
			display: flex;
			figure {
				background-color: white;
				overflow: hidden;
				width: 95px;
				height: 95px;
				display: block;
				position: relative;
				img {
					min-width: 95px;
					position: relative;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
			}
			.inner {
				padding: 25px 0 10px 20px;
				width: 75%;
				p {
					padding: 5px 0 0px 0px;
				}
			}
		}
	}
	.oneThirdSet .unit {
		margin-top: 1px;
	}
	.shopTop {
		margin-bottom: 40px;
	}
	.oneThirdSet .unit {
		background: #fff;
		margin: 0 auto;
		width: 100%;
	}
	.shopTop p.link a, .relate .unit p.link a {
		font-size: 1.2rem;
		line-height: 1.5;
	}
}

/* Blog Content */
/* h2 共通 */

#lnav h2 {
	font-weight: 700;
}

/* title周り */

article .blog_header_bar h1 {
	border-bottom: none;
	color: #cc0000;
	background: transparent;
	font-weight: 700;
	margin-top: 20px;
	font-size: 2.2rem;
	padding: 0;
}

.date_center .entryDate {
	text-align: center;
	background: #fff;
	margin-top: 20px;
	padding: 40px 0 5px;
	color: #adadad;
}

.white_back {
	.page-title {
		padding: 0 0 15px;
		background: #fff;
	}
	.with_underbar {
		border-bottom: 1px solid #7ebec0;
		width: 90%;
		margin: 0 auto 25px;
	}
	.titleArea {
		background: #fff;
		padding-bottom: 10px;
	}
}

/* tags周り */

article {
	.tag_with_title .tagWrapper {
		margin-top: 0;
		padding: 15px 30px 45px;
		.tag_title {
			font-weight: 700;
			margin-bottom: 15px;
			i {
				font-weight: normal;
				margin-right: 3px;
			}
		}
	}
	.tagWrapper ul li {
		width: auto;
		a {
			display: block;
			background-color: #fff;
			padding: 8px 14px;
			text-decoration: none;
			color: #0f8399;
			border: 1px solid #c5c5c5;
			text-align: center;
			-moz-border-radius: 30px;
			-webkit-border-radius: 30px;
			border-radius: 30px;
			font-size: 1.2rem;
		}
	}
}

/* タグ部分共通 */
/* Sidebar Tags */

#lnav {
	.side_cat_accordion_btn a i {
		margin-right: 3px;
		font-size: 1.2rem;
	}
	.sidebarTags ul {
		display: flex;
		flex-wrap: wrap;
		li {
			width: 50%;
			height: 70px;
			background: #fff;
			border-right: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			margin-bottom: 0px;
			padding: 25px 5px 25px;
			text-align: center;
			a {
				margin-bottom: 8px;
				font-size: 14px;
				font-size: 1.4rem;
				line-height: 1.71429;
				color: #0f8399;
				display: list-item;
				list-style: none;
				text-decoration: none;
				padding: 0;
				display: block;
				&:before {
					display: none;
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.side_cat_accordion_btn a {
		display: block;
		text-align: center;
		height: 45px;
		color: #0f8399;
		padding: 16px 0;
		font-size: 1.2rem;
		font-weight: 700;
		background: #fff;
		text-decoration: none;
	}
}

/*  ブログ　h2*/

.gray_bar {
	border-bottom: none;
	h2 {
		font-size: 1.6rem;
		color: #292929;
		font-weight: normal;
		padding: 20px 0 5px;
	}
}

/* Early Post 周り */

#lnav .sidebarRecent {
	padding: 0 16px 0px;
	.unit {
		color: #0f8399;
		padding-bottom: 7px;
		p.link {
			padding-left: 20px;
			a {
				color: #0f8399;
				&:before {
					display: block;
					content: '▶︎';
					position: absolute;
					margin-top: -7px;
					font-size: 1.4rem;
					color: #0f8399;
					margin-left: -16px;
				}
			}
		}
	}
}

/* ブログ　タイトル関連 */

.paragraphSet h3 {
	border-bottom: transparent;
}

#lnav {
	h2 {
		border-top: transparent;
		margin: 20px 0 20px;
	}
	.sidebarRecent {
		padding: 20px;
		background: #fff;
		margin: 0 10px;
		margin-bottom: 30px;
	}
}

/* ショップ　地図、イメージ周り */

.shop_img_container {
	display: flex;
	width: 100%;
	div {
		-webkit-box-flex: 1;
		box-flex: 1;
		width: 100%;
		&:first-child {
			margin-right: 5px;
		}
	}
	.left_image, .right_image {
		background: #333;
	}
	div img {
		width: 100%;
		height: auto;
	}
}

.googlemap_link {
	font-size: 1.4rem;
	color: #0f8399;
	text-align: center;
	padding: 10px 0 10px;
	a {
		color: #0f8399;
	}
	i {
		margin-right: 7px;
	}
}

.shop_top_ovv_text {
	font-size: 1.4rem;
	color: #a0a0a0;
	text-align: center;
	padding: 10px 0 25px;
	font-weight: normal;
}

h1.shop_name_text {
	color: #cc0000;
	font-size: 2.2rem;
	background: transparent;
	margin-top: 20px;
}

.shop_top_ovv_text + center {
	border: 4px solid #fff;
}

article {
	h3 {
		border-bottom: none;
	}
	.forthSet {
		width: 100%;
		margin-top: 15px;
		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
		}
		.unit {
			float: left;
			width: 49%;
			padding: 0 0 0;
			margin-right: 2%;
			&:nth-child(2n) {
				margin-right: 0;
			}
			&:nth-child(n+3) {
				margin-top: 2%;
			}
			img {
				/*width: inherit;*/
			}
		}
	}
	.plan_boxSet {
		padding: 10px;
	}
	.tenSet {
		width: 100%;
		margin-top: 20px;
		font-size: 0;
		text-align: left;
		.unit {
			display: inline-block;
			box-sizing: border-box;
			width: 20%;
		}
	}

	.point_list .halfSet .unit {
		margin-top: 10px;
		margin-bottom: 0px;
	}
	.paragraphSet {
		margin-bottom: 0px;
	}
	.boxSet.nomargin {
		&.back_none {
			background-color: transparent;
		}
		table {
			margin: 25px 10px 0;
		}
	}
	p.btns.red {
		margin: -10px 10px 0;
	}
}

/* レイアウト関連 */

/* トップ　boxSet 拡張 */

.plan_boxSet p {
	padding-top: 5px;
}

/* ショップ　プラン　イメージ */

.shop_plan_box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 15px;
	background: #fff;
	border-left: 1px solid #ffd400;
	border-right: 1px solid #ffd400;
	div {
		&:first-child {
			margin-right: 10px;
			-ms-flex: 1 1 130px;
			-moz-flex: 1 1 130px;
			-webkit-flex: 1 1 130px;
			flex: 1 1 130px;
		}
		&:nth-child(2) {
			text-align: justify;
			-ms-flex: 1 1 170px;
			-moz-flex: 1 1 170px;
			-webkit-flex: 1 1 170px;
			flex: 1 1 170px;
			font-size: 1.3rem;
			line-height: 2.5rem;
		}
	}
}

/* ショップ　テーブル */

h2.paragraph {
	margin-top: 0px;
}

.map_wrapper iframe {
	padding: 5px;
	background: #fff;
	box-sizing: border-box;
}

.page-template-right-sidebar .tagWrapper {
	margin-top: 0;
	.tag_title {
		margin-bottom: 15px;
	}
}

.social_area {
	background: #fff;
	ul {
		list-style-type: none;
	}
	li {
		list-style-type: none;
		display: inline-block;
		vertical-align: top;
		&:before {
			display: none;
		}
		span {
			vertical-align: top !important;
		}
	}
}

.page-template-right-sidebar .container article {
	overflow: inherit;
	.blog_wrapper > {
		h1, .entryDate, .page-title, .ccm-block-tags-wrapper, .ccm-block-page-list-wrapper {
			display: none;
		}
	}
}

.blog_defalt_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
/* ===============================================
contact form
=============================================== */
%input_base {
	border-radius: 6px;
	border-style: solid;
	border-width: 1px;
	border-color: #c7c7c7;
	box-sizing: border-box;
	width: 100%;
	line-height: 43px;
	height: 43px;
	padding: 0 10px;
	font-size: 1.6rem;
	line-height: 43px;
}
.base_form {
	width:100%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 50px;
	h3 {
		font-size: 20px;
		margin-bottom: 40px;
		font-weight: bold;
	}
	.form_ttl{
		background-color: #0f8399;
		width: 100%;
		padding: 10px 15px;
		color: #ffffff;
		font-size: 1.5rem;
		line-height: 1.2;
		text-align: left;
		position: relative;
		font-weight: bold;
	}
	.form_content{
		border-width: 1px;
		border-color: #c7c7c7;
		border-style: solid;
		box-sizing:border-box;
		background-color: #ffffff;
		width: 100%;
		padding: 18px;
		input[type="text"],
		input[type="tel"],
		input[type="email"] {
			@extend %input_base;
			// background: -webkit-linear-gradient(90deg, rgba(106, 106, 106, 0) 0%, #ffffff 100%);
			// background: -moz-linear-gradient(90deg, rgba(106, 106, 106, 0) 0%, #ffffff 100%);
			// background: -o-linear-gradient(90deg, rgba(106, 106, 106, 0) 0%, #ffffff 100%);
			// background: -ms-linear-gradient(90deg, rgba(106, 106, 106, 0) 0%, #ffffff 100%);
			// background: linear-gradient(0deg, rgba(106, 106, 106, 0) 0%, #ffffff 100%);
		}

		textarea {
			border-radius: 6px;
			border-style: solid;
			border-width: 1px;
			border-color: #c7c7c7;
			box-sizing: border-box;
			// background: -webkit-linear-gradient(90deg, rgba(106, 106, 106, 0) 0%, #ffffff 100%);
			// background: -moz-linear-gradient(90deg, rgba(106, 106, 106, 0) 0%, #ffffff 100%);
			// background: -o-linear-gradient(90deg, rgba(106, 106, 106, 0) 0%, #ffffff 100%);
			// background: -ms-linear-gradient(90deg, rgba(106, 106, 106, 0) 0%, #ffffff 100%);
			// background: linear-gradient(0deg, rgba(106, 106, 106, 0) 0%, #ffffff 100%);
			width: 100%;
			height: 185px;
			min-height: 185px;
			&#message {
				min-height: 185px;
			}
		}

		&.has_error {
			input[type="text"],
			input[type="email"],
			input[type="tel"],
			textarea{
				border-radius: 6px;
				border-style: solid;
				border-width: 1px;
				border-color: #cc0000;
				box-sizing: border-box;
				background: #ffd3d3;
			}
		}
		.error_msg {
			color: #cc0000;
			font-size: 14px; /* フォント置換による類似 */
			line-height: 24px; /* フォント置換による類似 */
			text-align: left;
			font-weight: bold;
		}
	}
	.select_wrapper {
		position: relative;
		width: 100%;
		input[type="text"].dummy_select {
			@extend %input_base;
			background: -webkit-linear-gradient(90deg, #f3f3f4 0%, #ffffff 100%);
			background: -moz-linear-gradient(90deg, #f3f3f4 0%, #ffffff 100%);
			background: -o-linear-gradient(90deg, #f3f3f4 0%, #ffffff 100%);
			background: -ms-linear-gradient(90deg, #f3f3f4 0%, #ffffff 100%);
			background: linear-gradient(0deg, #f3f3f4 0%, #ffffff 100%);
			position: relative;
			z-index: 2;
		}
		& > select {
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			z-index: 3;
			opacity: 0;
		}
		&:after {
			content:"";
			display: block;
			width: 10px;
			height: (27 / 2) * 1px;
			background: url(../images/icon_select.png) no-repeat left top;
			background-size: 10px auto;
			position: absolute;
			margin: auto;
			top:0;
			bottom:0;
			right: 13px;
			z-index: 4;
		}
	}
	.required {
		border-radius: 16px;
		background-color: #ffffff;
		padding: 1px 10px;
		font-weight: bold;
		color: #cc0000;
		font-size: 12px;
		line-height: 19px;
		text-align: center;
		display: inline-block;
		float: right;
	}
	+ .base_form {
		padding-top: 20px;
		border-top: 1px dotted #3C8DBC;
	}
}
#form_start {
	.box-footer {
		text-align: center;
		padding-top: 30px;
		.btn{
			display: inline-block;
			transition-delay: 0s;
			transition-duration: 0.2s;
			transition-property: opacity;
			transition-timing-function: linear;
			&:hover {
				opacity:0.6;
			}
		}
		.btn-danger {
			display: none;
		}
		.btn-primary {
			padding: 0 28px;
			background-color: #7ebec0;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			line-height: 42px;
			height: 42px;
			color: white;
			text-decoration: none;
			box-shadow: none;
			border:none;
			float:none;
			font-weight: bold;
			font-size: 18px;
			width: 100%;
		}
	}
}

.error_wrapper {
	border:5px solid #d73925;
	text-align: center;
	width: 100%;
	box-sizing:border-box;
	padding: 20px;
	background: #fff;
	margin: 30px auto;
	font-weight: bold;
	p {
		margin-bottom: 0;
		padding-top: 0;
	}
}

/* pc 641~
------------------------------------------------------------*/
@media only screen and (max-width: 321px) {
	header .container .sp>ul>li a.reservation {
		font-size: 11px;
		padding:0 3px;
		word-break:break-all;
		width: 65px;
		text-align: center;
		box-sizing: border-box;
	}
	header .container .sp>ul>li a#headerSpLang {
		font-size: 11px;
		padding:0 10px;
		word-break:break-all;
		text-align: center;
		box-sizing: border-box;
	}
	header .container .sp>ul>li a#headerSpMenu {
		padding:8px 0;
	}
}
/* pc 641~
------------------------------------------------------------*/
@media only screen and (min-width: 640px) {
	@import "pc";
}